@import net.whistlingfish.harmony.config.Activity
@args Activity currentActivity, List activities
@extends(view.main.html, title: "Start")

@def boolean isCurrentActivity(Activity activity) {
    if(currentActivity != null && currentActivity.getId().equals(activity.getId())) {
        return true;
    }
    return false;
}

<script type="text/javascript">
    function activityClicked(obj) {
        $('.btn-primary').each(function () {
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-default');
        });
        $('.panel-primary').each(function () {
            $(this).removeClass('panel-primary');
            $(this).addClass('panel-default');
            $(this).addClass('hidden');
        });
        $(obj).removeClass('btn-default');
        $(obj).addClass('btn-primary');

        var activityId = obj.id.substring('btn_activity_'.length, obj.id.length);
        $(obj).toggleClass('active');
        callCommand(activityId, '{"command":"switch", "deviceId":"' + activityId + '"}');
    }

    function callCommand(activityId, command) {
        $.ajax({
            method: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "command",
            data: command
        })
                .done(function (msg) {
                    if (msg.status != 'OK') {
                        alert('OOOPS State: ' + msg.status + ' Message: ' + msg.message);
                    } else {
                        if (msg.command == 'switch') {
                            $('.btn .label').remove();
                            $('#btn_activity_' + activityId).toggleClass('active');
                            $('#btn_activity_' + activityId).prepend('<span class="label label-info">active</span>');
                            if (activityId == -1) return;
                            var panelId = '#panel_activity_' + activityId;
                            $(panelId).removeClass('hidden');
                            $(panelId).addClass('panel-primary');
                        }
                    }
                });
    }
</script>
<div class="container">
    <div class="page-header">
        <h1>Harmony Web Control</h1>
    </div>
    <div class="btn-group" role="group">
        @for(net.whistlingfish.harmony.config.Activity activity : activities) {
            <button type="button" id="btn_activity_@activity.getId()" class="btn has-spinner
                    @{ if(isCurrentActivity(activity)){
                        pe(" btn-primary");
                       }else {
                        pe(" btn-default");
                       }
                     }" onclick="activityClicked(this)">
                        <span class="spinner">
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                        @if(isCurrentActivity(activity)) {
                            <span class="label label-info">active</span>
                        }
                        @activity.getLabel()
            </button>
        }
    </div>
    @for(net.whistlingfish.harmony.config.Activity activity : activities) {
        @if(activity.getId() != -1) {
            <div id="panel_activity_@activity.getId()" class="panel @{ if(!isCurrentActivity(activity)){
                                                                            pe("hidden");
                                                                      }else {
                                                                            pe("panel-primary");
                                                                      }
                                                                    }">
                <div class="panel-heading">
                    <h3 class="panel-title">Controls:</h3>
                </div>
                <div class="panel-body">
                    @if(activity.getControlGroup() != null) {
                        @for( net.whistlingfish.harmony.config.ControlGroup controlGroup : activity.getControlGroup()) {
                            <h5>@controlGroup.getName()</h5>
                            <div class="list-group">
                                @for(net.whistlingfish.harmony.config.Function function : controlGroup.getFunction()) {
                                    <a href="javascript:callCommand('@activity.getId()', '@function.getAction()')" class="list-group-item">@function.getLabel()</a>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>