@import net.whistlingfish.harmony.config.Activity
@args Activity currentActivity, List activities
@extends(view.main.html, title: "Start")

@def boolean isCurrentActivity(Activity activity) {
    if(currentActivity != null && currentActivity.getId().equals(activity.getId())) {
        return true;
    }
    return false;
}

<script type="text/javascript">
    var hamburgerButton = $('hamburger-button');
    hamburgerButton.sideNav();

    function activityClicked(obj) {
        $('.btn-primary').each(function () {
            $(this).removeClass('btn-primary green-text');
            $(this).addClass('btn-default black-text');
        });
        $('.panel-primary').each(function () {
            $(this).removeClass('panel-primary');
            $(this).addClass('panel-default');
            $(this).addClass('hide');
        });
        $(obj).removeClass('btn-default black-text');
        $(obj).addClass('btn-primary green-text');

        var activityId = obj.id.substring('btn_activity_'.length, obj.id.length);
        $(obj).toggleClass('active');
        callCommand(activityId, '{"command":"switch", "deviceId":"' + activityId + '"}');
    }

    function callCommand(activityId, command) {
        $.ajax({
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: 'command',
            data: command
        }).done(function (msg) {
            if (msg.status != 'OK') {
                alert('OOOPS State: ' + msg.status + ' Message: ' + msg.message);
            } else {
                if (msg.command == 'switch') {
                    if (activityId == -1) {
                        return;
                    }
                    var panel = $('#panel_activity_' + activityId);
                    panel.removeClass('hide');
                    panel.addClass('panel-primary');
                }
            }
        });
    }
</script>
<!--<nav class="blue lighten-1" role="navigation">-->
    <!--<div class="nav-wrapper container">-->
        <!--<a id="logo-container" class="brand-logo center">Harmony Web Control</a>-->
    <!--</div>-->
<!--</nav>-->
<header>
<nav>
    <nav class="top-nav blue lighten-1">
        <a id="hamburger-button" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo center">Harmony Web Control</a>
            </div>
        </div>
    </nav>
    <ul id="slide-out" class="side-nav fixed">
        <li id="sidebar-logo" class="blue-text text-lighten-1">HarmonyControl</li>
        <!--<li class="bold"><a>First Sidebar Link</a></li>-->
        <!--<li class="bold"><a>Second Sidebar Link</a></li>-->
        @for(net.whistlingfish.harmony.config.Activity activity : activities) {
            <li class="bold">
                <a id="btn_activity_@activity.getId()" onclick="activityClicked(this)" class="waves-effect waves-light
                @{ if(isCurrentActivity(activity)){
                    pe(" btn-primary green-text");
                } else {
                pe(" btn-default black-text");
                }}">
                    <i class="mdi-av-movie"></i>  @activity.getLabel()
                </a>
            </li>
        }
    </ul>
</nav>
</header>
<main>
<div id="content" class="container">
    <div class="row center">
        @for(net.whistlingfish.harmony.config.Activity activity : activities) {
            @if(activity.getId() != -1) {
                <div id="panel_activity_@activity.getId()" class="@{ if(!isCurrentActivity(activity)){
                                                                                                pe("hide");
                                                                                             }else {
                                                                                                pe("panel-primary");
                                                                                             }
                                                                                            }">
                    <h4 class="header orange-text lighten-3">Controls</h4>
                        @if(activity.getControlGroup() != null) {
                        @for( net.whistlingfish.harmony.config.ControlGroup controlGroup : activity.getControlGroup()) {
                        <div class="card">
                            <h5 class="grey-text darken-2-5">@controlGroup.getName()</h5>
                                @for(net.whistlingfish.harmony.config.Function function : controlGroup.getFunction()) {
                                <div class="section" style="padding-left: 10px;padding-right: 10px;">
                                    <a href="javascript:callCommand('@activity.getId()', '@function.getAction()')" class="waves-effect waves-light blue-grey darken-1 btn" style="display: block;">@function.getLabel()</a>
                                </div>
                                }
                        </div>
                        }
                        }
                </div>
            }
        }
    </div>
</div>
</main>