#content {
    padding: 40px;
}

#sidebar-logo {
    height: 64px;
    font-size: 26px;
    border-bottom: 1px solid #ddd;
}

.small-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-left: 30px;
    margin-right: 30px;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}