@(currentActivity: net.whistlingfish.harmony.config.Activity, activities: List[net.whistlingfish.harmony.config.Activity])

@main("Harmony Web Control") {
    <div class="container">
        <div class="page-header">
            <h1>Harmony Web Control</h1>
        </div>
        <di
        <div class="btn-group" role="group">
        @for(activity <- activities) {
            <button type="button" class="btn btn-default">
                @if(currentActivity != null && currentActivity.getId.eq(activity.getId)) {
                    <span class="label label-info">active</span>
                }
                @activity.getLabel
            </button>
        }
        </div>
    </div>
}
